
.slider
{
    margin-top: 5%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80%;
}

.slider h4
{
    margin-top: 20%;
}

.slides
{
    display: flex;
    width: 50rem;
    overflow: hidden;
}

.slides img 
{
    border-radius: 10px;
}

.slide
{
    width: 50rem;
    transition: .5s;
}

.choose_1:checked ~ .slides > .s1
{
    margin-left: -0rem;
    margin-right: 10rem;
}

.choose_2:checked ~ .slides > .s1
{
    margin-left: -50rem;
}